@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.fab {
    font-size: 1.5rem;
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}



.dark {
    background: #1a202c;
    color: #fff;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #2980b9;
}