@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dark {

    background: #202A44;
    color: #fff !important;
}

.dark section {

    background: #202A44;
    color: #fff !important;
}

.dark footer {

    background: #202A44;
    color: #fff !important;
}

.dark P {


    color: #fff !important;
}

.dark .nav-title {
    color: #fff;
}

.dark div {

    background: #202A44;
    color: #fff !important;
}

.light {

    background-color: #fff;
    color: #202A44;
}

.fab,
.fas {
    font-size: 1.5rem;
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}



nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}